
.wrapper {
  display:flex;
  /* grid-template-columns:repeat(auto-fit, 
  minmax(12rem, 16rem)); */
  gap:2rem;
  justify-content:center;

}
.card{
  /* overflow:hidden; */
  box-shadow:0 2px 20px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  cursor:pointer;
  transition:transform 200ms ease-in;
  padding: 20px
}

