*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 1rem;
}

button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

button.primary {
  background-color: var(--green);
  color: white;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}

main {
  padding: 0 1rem;
}

.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 650px;
}

.card .image {
  height: 225px;
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
}

.card .image .price {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25rem;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-right-radius: 5px;
  background: white;
}
.css-1xoxzr5-MuiPaper-root-MuiCard-root {
  margin: 40px 15px !important;
  max-width: calc(33% - 30px) !important;
  width: 100%;
}
.card-page-wrapper .css-o69gx8-MuiCardMedia-root {
  height: 225px !important;
  border-radius: 18px 18px 0 0;
}
.card-page-wrapper .css-h93ljk-MuiTypography-root h1 {
  font-size: 25px;
  line-height: 28px;
  text-align: left;
}
.card-page-wrapper .css-1xoxzr5-MuiPaper-root-MuiCard-root {
  height: auto !important;
  min-height: auto !important;
}
.card-page-wrapper .css-r40f8v-MuiTypography-root h2 {
  font-size: 20px;
  line-height: 28px;
  text-align: left;
}
.card .image img {
  max-width: 100%;
  max-height: 180px;

  width: auto;
  height: auto;
}

.card .details {
  padding: 0.5rem;
}

.card .details strong {
  font-family: serif;
  font-size: 1rem;
}
