body {
    background: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px
  }

.addpup-container  {
    width: 400px;
    background-color: white;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 10px;
  }

  .dog-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;

  }
  
  
   .add-bttn  {
     background: #4caf50;
    color: white;
    cursor: pointer;
  }

  .input-fields{
    display:flex;
    flex-direction: column ;
    margin: 6px 0 6px 0;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
    
      /* display:flex;
      flex-direction: column;
      margin-right: 4%;
      font-size: 16px;
      height: 20px; */
  }

  input {
    background: #f2f2f2;
  }


  button {
    background: lightseagreen;
    color: white;
    cursor: pointer;
  }

  button:disabled {
    cursor: default;
  }