.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  background-color: #a000a0;
  padding-bottom: 0.5rem;
  padding: 15px 0;
  background-color: #fcd5ce !important;
}
.navbar .navbar-brand {
  font-size: 25px;
  line-height: 32px;
  font-weight: bold;
  margin-right: 40px;
  text-align: left;
}

.navLinks{
    display: "inline-block";
    width: "160px";
    padding: "12px";
    margin: "0 6px 6px";
        text-decoration:"none";
        color: "black";
}

.navLinks:hover{
    text-decoration: underline;
   color: rgb(0, 0, 0);
   background-color: #ffb5a7;
  }
  
.navbar a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  opacity: 1 !important;
}

#dogheader{
    color: #925146;
  font-size: 50px;
  font-family: fantasy;
  text-align: left;
  padding-left: 20px;



}
.lg a:visited {
  color: blue;
}
.lg {
  font-family: verdana;
  font-size: 32px;
  font-weight: bold;
  color: blue;
  margin-left: 20px;
}
a:hover {
  color: #fff;
}

a:visited {
  color: brown;
}

a {
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}

.md {
  flex-grow: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.body {
  margin: 0;
  padding: 0;
}

.md a {
  padding: 0 10px;
  font-family: verdana;
  color: #ddd;
  font-size: 18px;
  /* font-weight: bold; */
}

.md a:visited {
  color: #ddd;
}

.md a:hover {
  color: white;
}

.side {
  display: flex;
}

.side a,
.side div {
  margin: 0 10px;
  border: 2px solid white;
  color: white;
  padding: 5px 10px;
  box-sizing: border-box;
  width: 100px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  font-family: monospace;
}

.side a :visited {
  color: #ddd;
}
